.about-container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}

.about-info {
  margin-bottom: 1rem;
}

.about-text-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* ===================About Img===================== */

.about-img {
  background: url("../../assets/main-picture.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
  justify-self: center;
  width: 300px;
  height: 300px;
  animation: about-img-animate 8s ease-in-out infinite 1s;
}

@keyframes about-img-animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2rem;
  font-weight: 900;
  transition: color 0.1s;
  position: relative;
  z-index: 2;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.about-icon {
  font-size: 1.4rem;
  color: var(--title-color);
  margin-right: 0.5rem;
  position: relative;
  z-index: 2;
}

.about-subtitle {
  position: relative;
  z-index: 2;
}

.about-box {
  position: relative;
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  text-align: center;
  padding: 0.5rem 1.5rem;
  overflow: hidden;
  transition: all 0.3s;
}

.about-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 131, 145, 0.884); /* Semi-transparent background */
  opacity: 0;
  transition: opacity 0.3s; /* Add transition for opacity change */
  z-index: 1; /* Ensure it is below the text */
}

.about-box:hover::before {
  opacity: 1;
}

.about-box:hover .about-title,
.about-box:hover .about-icon,
.about-box:hover .about-subtitle {
  color: #fff;
}

.about-subtitle {
  font-size: var(--normal-font-size);
}

.about-description {
  padding: 2rem 0;
}

.records {
  position: relative;

  padding: 5.2rem 0;
}

.records .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.record-circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0 auto;
  border: 4px solid var(--light-one);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--light-one);
}

.record-circle.active {
  background-color: var(--light-one);
  color: var(--dark-one);
  box-shadow: 0 0 0 15px rgba(150, 141, 141, 0.466);
}

.number {
  font-weight: 400;
  font-size: 2.35rem;
}

.record-sub-title {
  font-weight: 400;
  font-size: 1.12rem;
  text-transform: uppercase;
}

.records .square1 {
  left: 8%;
  top: 10%;
}

.records .square2 {
  right: 90px;
  bottom: 70px;
}

.records .xshape {
  top: 45px;
  right: 120px;
}

.records .circle {
  left: 7%;
  bottom: 50px;
}

.records .triangle {
  left: 65%;
  bottom: 35px;
}

.records .wave1 {
  top: 35px;
  right: 30%;
}

.records .wave2 {
  bottom: 40px;
  left: 28%;
}

.records .half-circle {
  top: 30px;
  right: 50%;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1rem;
  }

  .about-img {
    width: 250px;
    height: 250px;
  }

  .records .container {
    grid-column-gap: 0;
  }

  .records {
    padding: 5rem 0;
  }
  .record-circle {
    width: 140px;
    height: 140px;
  }

  .number {
    font-size: 1.8rem;
  }

  .record-sub-title {
    font-size: 0.8rem;
  }

  .record-sub-title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .about-container,
  .records .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1rem;
  }
  .about-img {
    width: 200px;
    height: 200px;
  }
  .records {
    padding: 2rem 0;
  }
  .record-circle {
    width: 140px;
    height: 140px;
  }

  .number {
    font-size: 1.8rem;
  }

  .record-sub-title {
    font-size: 0.8rem;
  }

  .record-sub-title {
    font-size: 1rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .about-container,
  .records .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1rem;
  }

  .about-img {
    width: 200px;
    height: 200px;
  }

  .records {
    padding: 3rem 0;
  }
  .record-circle {
    width: 90px;
    height: 90px;
  }

  .number {
    font-size: 1.5rem;
  }

  .record-sub-title {
    font-size: 0.8rem;
  }

  .record-circle.active {
    box-shadow: 0 0 0 10px rgba(150, 141, 141, 0.466);
  }
}
